/* media.less */
 
@media (max-width: 730px) {

    .contain{
        width: 90% !important;
        text-align: center;
        margin: 20px;
    }

     .menu{
        p{
            font-size: 0px;
        }
        ul{
            margin-right: 0px;
        }
    }


    .col-1{ width: 100%; }
    .col-2{ width: 50%;}
    .col-3{ width: 100%;}
    .col-4{ 
        width: 90%;
        padding: 30px 20px;
    }

}


@media (max-width: 580px) {
    h1{
        font-size: 30px !important;
    }

    .menu{
        p{
            font-size: 0px;
        }
        ul{
            margin-right: 0px;
        }
    }

    .part1{
        height: 500px !important;
        .button_warpper{
             margin-top: 100px !important;
        }
    }


    .col-1{ width: 100%; }
    .col-2{ width: 100%;}
    .col-3{ width: 100%;}
    .col-4{ 
        width: 90%;
        padding: 30px 20px;
    }
}